
#mainAboutContainer{
  max-width: 1500px;
  width: 100vw;
  height: 2000px;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  background-color: red;
}
#aboutIntroduction{
  position: relative;
  top: 240px;
  color: var(--main-white-font-clr);
  height: fit-content;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutMe h1{
  font-size: max(50px, min(10vw, 120px));
  width: fit-content;
  padding-inline: 30px;
  margin-bottom: 40px;
  font-family: ClashDisplay-Medium;
  font-weight: 400;
  letter-spacing: 4px;
}
#aboutMe p{
  width:  100%;
  max-width: 860px;
  padding-inline: 30px;
  font-size: var(--about-text-font-size);
  font-family: Satoshi;
}
.abtText1{
  margin-bottom: 15px;
}

.one{
  grid-row: span 2;
}
.three{
  grid-column: span 2;
  grid-row: span 2;
}

.mi-life{
  width:  100%;
  max-width: 800px;
  font-size: var(--about-text-font-size);
  font-family: Satoshi;
  margin-top: 15px;
  margin-left: 30px;
}

.mi-life a{
  transition: 200ms;
  color: var(--white-color);
  text-decoration: none;
}

.mi-life a:hover{
  color: red;
  cursor: pointer;
}

.guidingPrinciplesContainer{
  position: relative;
  min-width: 300px;
  max-width: 1000px;
  width: 80vw;
  height: auto;
  border-radius: 5px;
  z-index: 10;
  margin-top: 100px;
  padding-left: 30px;
}

.Gtext1{
  color: var(--faded-font-clr);
  font-size: var(--about-text-font-size-smaller);
  letter-spacing: 1px;
}
.Gtext2{
  font-size: max(35px, min(5vw, 60px));
  font-weight: 600;
  margin-top: 15px;
  letter-spacing: 1px;
}
.guideBox{
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}
.guideRow:nth-child(1),
.guideRow:nth-child(2){
  border-bottom: 1px solid rgb(161, 166, 221);
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.guideRow:nth-child(3){
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.guideRow{
  display: flex;
  justify-content: space-between;
}
.guideRow p:nth-child(1) span{
  margin-right: 10px;
  font-family: monospace;
  font-size: var(--about-text-font-size-bigger);
  color: rgb(161, 166, 221);
}
.guideRow p:nth-child(1){
  font-size: var(--about-text-font-size-bigger);
  letter-spacing: 2px;
}

.guideRow p:nth-child(2){
  width: 50%;
  font-size: var(--about-text-font-size);
}

/*///////////////////////////////*/

.container {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.wrapper {
  position: relative;
}

.item {
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 100%;
  background-color: red;
  z-index: 1111;
}

.item.active {
  background-color: blue;
}

#circleSvg {
  height: 300px;
  overflow: visible;
  width: 300px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st0 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 1;
}

.start {
  position: absolute;
  top: 50%;
  right: -30px;
}



/*///////////////////////////////*/

@media (width <= 700px){
  #aboutIntroduction{
    top: 150px;
  }
  #AboutPhotoContainer{
    margin-top: 5vh;
  }
  .mi-life{
    margin-top: 5vh;
  }
  .guidingPrinciplesContainer{
    margin-top: 300px;
  }
  .guideBox{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .guideRow{
    flex-direction: column;
    justify-content: flex-start;
  }
  .guideRow p:nth-child(1){
    margin-bottom: 20px;
  }
  .guideRow p:nth-child(2){
    width: 100%;
  }
}

@media (max-width: 1150px){
#aboutMe h1{
  padding-inline: 0px;
}
#aboutMe p{
  padding-inline: 0;
}
.mi-life{
  margin-left: 0px;
}
.guidingPrinciplesContainer{
  padding-left: 0px;
}
}