#contactMainContainer {
  display: block;
  position: relative;
  z-index: 1000;
  height: calc(100vh - 85px);
  width: 100vw;
  padding-top: 85px;
  background-color: var(--bg-clr);
}

.ContactHeadline {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  height: 20vh;
  width: calc(100% - 40px);
  background-color: transparent;
  border-bottom: 2px solid var(--border-clr);
  color: var(--main-white-font-clr);
  padding-inline: 20px;
}
.headline {
  font-size: max(45px, min(7vw, 80px));
  font-family: ClashDisplay-Medium;
  font-weight: 400;
  text-align: center;
}
.headline span {
  color: var(--orange-100);
}
.infoBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  height: 30vh;
  width: 80%;
  max-width: 800px;
  margin-inline: auto;
  column-gap: 20px;
  row-gap: 80px;
  margin-top: 120px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(30px, min(5vw, 60px));
  font-family: ClashDisplay-Medium;
  font-weight: 400;
  color: white;
  grid-column: span 2;
  gap: 30px;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.email a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: 300ms;
}
.email a:hover {
  border: 1px solid var(--border-clr);
}
.emailSvg {
  height: max(30px, min(5vw, 50px));
  width: max(30px, min(5vw, 50px));
}
.btnSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  border: 2px solid var(--border-clr);
  border-radius: 10px;
  color: white;
  font-size: max(20px, min(5vw, 30px));
  cursor: pointer;
}
.btn-posnawr {
  position: relative;
  overflow: hidden;
}
.btn-posnawr span {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--orange-300);
  z-index: -1;
  transition: 300ms;
  opacity: 0;
}
.btn-posnawr:hover span {
  scale: 100;
  opacity: 1;
}
/*/////////////////////////////*/

.footerLinksContact {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
}
.footerLinksContact p {
  color: var(--lightgray-clr);
  font-weight: 100;
  white-space: nowrap;
  font-size: max(10px, min(2vw, 18px));
}

@media (width < 740px) {
  .infoBox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 80px);
    width: calc(100% - 50px);
    padding-inline: 25px;
    row-gap: 30px;
  }
  .email {
    grid-column: span 1;
    gap: 15px;
    flex-wrap: nowrap;
    font-size: max(20px, min(6vw, 60px));
  }
  .emailSvg {
    height: max(20px, min(6vw, 50px));
    width: max(20px, min(6vw, 50px));
  }
  .btn-posnawr:hover span {
    scale: 500;
  }
}
