#footerContainer {
  height: 70vh;
  width: 100vw;
  background: var(--footer-bg-color), url("/Images/otis-redding.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: var(--main-white-font-clr);
  position: relative;
}

.innerFooterContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: calc(100% - 6vw);
}

.footerBoxInner {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  padding: 0;
  width: 200px;
  justify-items: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.menu {
  position: relative;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--orange-300);
  overflow: hidden;
  text-align: center;
  color: var(--bg-clr);
  font-weight: 200;
  font-size: 20px;
  font-family: ClashDisplay-Regular;
  letter-spacing: 3px;
} /*
.circle::after{
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  width: 1px;
  height: 1px;
  background-color: var(--bg-clr);
  border-radius: 100vh;
  opacity: 0;
  transition: 300ms;
  z-index: -1;
}
.circle:hover::after{
  opacity: 1;
  scale: 200;
}*/
.footerText {
  color: var(--bg-clr);
  font-size: max(15px, min(2vw, 20px));
}

#connect {
  font-family: ClashDisplay-Medium;
  font-weight: 600;
  letter-spacing: 4px;
  font-size: max(40px, min(7vw, 125px));
  word-wrap: break-word;
  width: 10ch;
  color: var(--bg-clr);
}

.footerLinks {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  height: 60px;
  cursor: pointer;
  z-index: 100;
}
.footerLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--bg-clr);
  border-top: none;
  transition: 400ms;
  cursor: pointer;
}
.footerLinks a svg {
  width: max(30px, min(5vw, 35px));
  height: auto;
  fill: var(--bg-clr);
  transition: 350ms;
}
.footerLinks a:nth-child(1) {
  flex: 1;
  border-left: none;
}
.footerLinks a:nth-child(3) {
  flex: 1;
  border-right: none;
}
.footerLinks a:nth-child(2) {
  opacity: 0;
  border: none;
  width: 5px;
  background-color: rgb(255, 255, 255);
}
.footerLinks a:nth-child(2):hover {
  opacity: 1;
  width: 60%;
  background-color: rgb(255, 0, 0);
  border-bottom: 2px solid var(--bg-clr);
}
.footerLinks a:hover {
  background-color: var(--orange-300);
}
.footerLinks a:hover svg {
  fill: white;
}

/*/////////////////////////////////////////////////////*/
@media (max-width: 1300px) {
  .innerFooterContainer {
    flex-direction: column;
    gap: 100px;
  }
  .footerBoxInner {
    width: 100%;
    flex-direction: column;
  }
  #connect {
    margin-inline: auto;
    word-wrap: normal;
    width: fit-content;
    text-align: center;
  }
  .footerText {
    width: 70%;
    text-align: center;
    margin-inline: auto;
  }
}

@media (width <= 726px) {
  .circle {
    width: 120px;
    height: 120px;
    font-size: 15px;
  }
  #connect {
    margin-top: 50px;
  }
  .innerFooterContainer {
    flex-direction: column;
    gap: 50px;
  }
}
