::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background-color: #121212;
}
* {
  scrollbar-color: transparent;
}
::selection {
  background-color: rgba(255, 255, 255, 0); 
  color: rgb(245, 57, 0); 
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0); 
  color: rgb(245, 57, 0); 
}
:root{
  --star-opacity: 0.5;
}
h1,
h2,
h3,
h4,
p{
  margin: 0;
  padding: 0;
}
:root{
  --text-font-size: max(14px, min(2vw, 20px));
  --about-text-font-size-smaller: max(10px, min(2vw, 13px));
  --about-text-font-size: max(14px, min(2vw, 18px));
  --about-text-font-size-medium: max(16px, min(2.5vw, 27px));
  --about-text-font-size-bigger: max(16px, min(2vw, 20px));
  --about-text-font-size-max: max(17px, min(4vw, 45px));
  --mobile-nav-bg-color:#121212;
  --bg-clr:#121212;
  --main-white-font-clr:rgb(254, 254, 254);
  --font-color: rgb(207, 207, 207);
  --faded-font-clr:rgba(255, 255, 255, 0.736);
  --footer-bg-color: rgb(230, 229, 249);
  --footer-font-color:#121212;
  --lightgray-clr:rgb(143, 143, 143);
  --faded-text-clr:rgb(94, 94, 94);
  --main-orange-clr:rgb(245, 57, 0);
  --orange-000: #ea8169;
  --orange-100: #eb593a;
  --orange-200: #f05735;
  --orange-300: rgb(234, 72, 23);
  --border-clr: #262626;

  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}

html{
  height: auto;
  position: relative;
  scroll-behavior: smooth;
  scroll-padding: 250px;
}
body{
  position: relative;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-family: Satoshi, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-clr);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Images/otis-redding.png');
  opacity: 0.3;
}

.fotterBottomLinks{
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  width: 100%;
  justify-content: center;
  color: var(--bg-clr);
}
.fotterBottomLinks p{
  margin: 0;
}
.p1{
  display: none;
}

.dark-mode-toggle{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.flicker {
  height: 100%;
  aspect-ratio: 1;
  filter: drop-shadow(0 -3vmin 3vmin hsl(0, 0%, 100%)) drop-shadow(0 0 6vmin hsl(0, 0%, 100%));
  opacity: 1;
  background: hsl(0, 0%, 100%);
  animation: flicker 4s infinite var(--custom) alternate;
}

/*///////////////////////////*/



/*///////////////////////////*/

@keyframes flicker {
  25% { 
    opacity: 0.2; 
    filter: drop-shadow(0 -3vmin 3vmin hsl(180, 0%, 0%)) drop-shadow(0 0 6vmin hsl(180, 80%, 50%));
  }
}

@media (width <= 700px){
  .fotterBottomLinks{
    gap: 5px;
    flex-direction: column;
  }
  .p2{
    display: none;
  }
  .p1{
    display: block;
  }
}