#insightsContainer > * {
  z-index: 100;
}

#insightsContainer{
  max-width: 2000px;
  width: calc(100% - 60px);
  min-height: 100vh;
  height: 100%;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  padding-top: 85px;
  color: var(--main-white-font-clr);
}

.insightsTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 30vh;
  width: 100%;
  color: var(--main-white-font-clr);
  gap: 40px;
}
.insightsTitle{
  font-size:  max(30px, min(6vw, 60px));
  font-family: ClashDisplay-Medium;
  font-weight: 400;
}
.insightsTitle p:nth-child(1){
  width: 850px;
}
.insightsInfo{
  z-index: 100;
  height: auto;
  width:100%;
  font-size:  max(18px, min(4vw, 40px));
  margin-block: 80px 30px;
  color: var(--faded-text-clr);
}

.insightsPhoto{
  z-index: 100;
  height: auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.insightsImg{
  width: 100%;
  min-height: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  object-fit: cover;
}
.insightsPhoto-added{
  width: 100%;
  max-width: 950px;
  min-height: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  object-fit: cover;
  margin-inline: auto;
}
.section-one{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: 20px;
  width: 100%;
  max-width: 950px;
  height: auto;
  margin-bottom: 50px;
}
.section-one-title{
  font-size:  max(20px, min(4vw, 40px));
  font-family: ClashDisplay-Medium;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 50px;
}
.section-two-title{
  font-size:  max(20px, min(4vw, 34px));
  font-family: ClashDisplay-Medium;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 50px;
}
.section-text{
  font-size:  max(17px, min(4vw, 23px));
  font-weight: 100;
  letter-spacing: 0.5px;
  color: var(--lightgray-clr);
}
.section-one:last-child{
  margin-bottom: 200px;
}
.insightsList{
  color: var(--lightgray-clr);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size:  max(16px, min(4vw, 20px));
  font-weight: 100;
  letter-spacing: 0.5px;
}