.navigation-blur {
  width: 100vw;
  height: 85px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  z-index: 10000;
}
.navBlurNoise {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/Images/otis-redding.png");
  opacity: 0.1;
}
#navigation {
  width: calc(100vw - 80px);
  height: 85px;
  background-color: transparent;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-font-color);
  padding-inline: 30px 40px;
  z-index: 1000000;
}
.navMenu {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}
.navMenu li {
  cursor: pointer;
}
#logo {
  font-family: Syne;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 30px;
  color: var(--main-white-font-clr);
  mix-blend-mode: difference;
}
.nav-link {
  overflow: hidden;
  letter-spacing: 1px;
}
.nav-link a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  text-decoration: none;
  transition: transform 350ms ease-in-out;
  color: var(--main-white-font-clr);
  mix-blend-mode: difference;
  transition: 200ms;
  height: 50px;
  font-weight: 400;
  letter-spacing: 2px;
}
.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 100%;
  height: 1px;
  background: var(--orange-100);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease;
}

.nav-link a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

#viewCv {
  position: relative;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--main-white-font-clr);
  font-weight: 400;
  letter-spacing: 2px;
  z-index: 5;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--border-clr);
  transition: 250ms;
}
#viewCv:hover {
  border: 1px solid rgb(85, 85, 85);
}
#menuNav {
  display: none;
  transform: scaleX(-1);
  transform-origin: center;
  cursor: pointer;
  z-index: 60;
  mix-blend-mode: difference;
}
#menuNav path {
  stroke: var(--main-white-font-clr);
}
#menuPath {
  transition: 300ms;
}
#menuNav:hover #menuPath {
  d: path("M5 17H20M5 12H25M5 7H20");
}

/*//////////////MOBILE-NAVIGATION////////////////*/

#mobileNavigationMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-clr);
  transform: translateX(-100%);
  transition: 500ms;
  gap: 80px;
}
.innerMobileNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 80px;
  width: 90%;
  overflow: hidden;
}
.mobile-nav-link {
  height: fit-content;
  width: fit-content;
  padding-right: 50px;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  transition: 300ms;
  position: relative;
  z-index: 10;
}
.mobile-nav-link a {
  font-size: 35px;
  color: var(--main-white-font-clr);
  font-family: Satoshi;
  font-weight: 900;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 300ms;
}
.mobile-nav-link:hover .navLine1 {
  width: 0vw;
}
.navLine1 {
  width: 85vw;
  height: 0px;
  border-bottom: 2px solid var(--main-white-font-clr);
  position: absolute;
  transition: 200ms;
  transform: rotate(180deg);
  z-index: -1;
}
.navLine1 {
  right: 110%;
}
/*////////////////////////////////////////////////*/

.bottomNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  padding: 5px;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: rgba(18, 18, 18, 0.183);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--border-clr);
  transition: 300ms;
}

.btmbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-white-font-clr);
  height: 100%;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: transparent;
  transition: 300ms;
  cursor: pointer;
  height: 0;
  width: 0;
  opacity: 0;
  font-size: 0px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 100;
}
.bottomNav:hover {
  width: 400px;
  height: 40px;
  background: rgba(40, 39, 39, 0.144);
}
.bottomNav:hover .btmbtn {
  height: auto;
  width: auto;
  opacity: 1;
  font-size: 18px;
}
.bottomNav:not(:hover) .btmbtn {
  transition: 0ms;
}
.btmbtn:hover {
  background-color: #bc2503;
}
/*//////////////MEDIA-QUERIES///////////////////*/

@media (width <= 700px) {
  #menuNav {
    display: block;
  }
  .navMenu {
    display: none;
  }
  .bottomNav {
    display: none;
  }
  #navigation {
    width: calc(100vw - 50px);
    padding-inline: 30px 20px;
  }
}
